.linkColor {
  color: grey;
}
.linkColor:hover,
.homestyle:hover,
.mobView:hover {
  color: black;
}

.homestyle {
  color: grey;
  height: 44px;
  text-align: center;
}

.mobView {
  display: block;
  color: grey;
  height: 40px;
}
