.my-acc {
  font-size: 1.1rem;
  margin-top: 1.5%;
}
.sett-info {
  font-size: 1.1rem;
  margin-top: 1.5%;
}
.prog-center {
  font-size: 1.1rem;
  margin-top: 1.5%;
}
.icons {
  color: rgb(134, 134, 134);
}

.settings-divider {
  top: 39%;
}
.program-divider {
  top: 77%;
}
.my-orders a:hover .icons,
.my-assets a:hover .icons,
.acc-info a:hover .icons,
.prog-center a:hover .icons {
  fill: rgb(0, 0, 0);
  color: rgb(211, 211, 211);
}
