.my-orders-tags {
  text-align: center;
  padding-top: 12%;
  margin-left: 11.5%;
  width: 10.75vw !important;
  height: 19.5vh;
}
.my-orders-tags:hover {
  cursor: pointer;
  color: rgb(253, 114, 114);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.profile-tags {
  position: relative;
  margin-left: 12%;
  width: 12.5vw;
  padding-left: 15%;
  padding-top: 2%;
  height: 28vh;
}
.profile-tags:hover {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}
.profile-tags:hover > span {
  color: rgb(253, 114, 114);
  cursor: pointer;
}
.profile-tags span {
  font-weight: bolder;
  font-size: 2rem !important;
}
.profile-tags a {
  position: absolute;
  margin-top: 2% !important;
  color: rgb(253, 114, 114);
}
.profile-tags a:hover {
  color: rgb(253, 114, 114);
  text-decoration: underline;
}

.interactive-center-tags:hover {
  cursor: pointer;
  color: rgb(253, 114, 114);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.interactive-center-tags {
  text-align: center;
  padding-top: 22%;
  margin-left: 1%;
  width: 6.5vw;
  height: 17.3vh;
  /* font-size: .8rem; */
}
