.main-home {
  font-family: Arial, Helvetica, sans-serif;
}
.home-page-banner {
  height: 55vh;
  width: 100%;
}
.home-page-banner img {
  height: 100%;
  width: 100%;
}
.dep-brands {
  top: -15%;
  font-weight: bolder;
  position: absolute;
}
.brands-section {
  margin-left: 6%;
  margin-top: 5%;
  width: 88%;
  height: 50vh;
  filter: brightness(98%);
  display: flex;
}
.brands-section a:hover {
  filter: brightness(103%);
}
.christmas-offers {
  height: fit-content;
  width: 50%;
}
.brands a img {
  width: 100%;
}
.christmas-offers a img {
  width: 100%;
}
.brands {
  margin-left: 2%;
  width: 50%;
  min-height: fit-content;
}
.dep-categories {
  position: absolute;
  left: 6%;
<<<<<<< HEAD
  margin: 2rem 0 !important;
=======
  margin-top: 2%;
>>>>>>> dbe0e6370e2b29a7e59daff34f20bfc2ca584fb2
  font-weight: bolder;
}
.hot-categories-slider-dev {
  margin-top: 5%;
  display: flex;
  width: 100%;
  background-color: rgb(233, 233, 233);
  height: 80vh;
}
.hot-categories {
<<<<<<< HEAD
  margin-top: 5% !important;
  background-color: rgb(255, 255, 255);
  height: 80%;
  width: 30%;
  margin: 0 1rem;
=======
  margin-top: 5%;
  background-color: rgb(255, 255, 255);
  height: 80%;
  width: 30%;
>>>>>>> dbe0e6370e2b29a7e59daff34f20bfc2ca584fb2
}
.dep-sub-categories {
  position: relative;
  left: 2%;
}
.hot-categories-component {
  display: flex;
  flex-wrap: wrap;
}
.hot-categories-component a {
  width: 29%;
  margin: 1% 2% 1% 2.2%;
}
.hot-categories-component a span {
  margin-left: -5.5%;
  margin-top: 10%;
  position: absolute;
  color: rgb(168, 168, 168);
}
.hot-categories-component a img {
  height: 26vh;
  width: 100%;
}
.hot-categories-component a img:hover {
  filter: brightness(103%);
}
.dep-flash-deals {
<<<<<<< HEAD
  width: 88%;
=======
  width: 89.8%;
>>>>>>> dbe0e6370e2b29a7e59daff34f20bfc2ca584fb2
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 6%;
  margin-top: 5%;
  /* height: 50vh; */
}
.flash-deals {
  /* position: absolute; */
  /* left: 6%; */
  /* margin-top: -20%; */
  font-weight: bolder;
}
.dep-recommended-for-you {
  /* margin-top: 5%; */
  width: 100%;
  min-height: 100%;
}
.recommended-for-you {
  position: absolute;
  font-weight: bolder;
  left: 6%;
}
