/* .shop-page {
  justify-content: center;
  height: 40vh;
  width: 100%;
  position: absolute;
  background-color: rgb(104, 104, 104);
}
.search-sort {
  justify-content: center;
  display: flex;
  position: relative;
  margin-top: 20%;
  margin-left: 50%;
}

.shop-items {
  justify-content: space-around;
  width: 70%;
}

.select-dropdown {
  text-align: start;
  margin-right: 9%;
  width: 30%;
  height: 30%;
}
.pagination {
  justify-content: center;
  margin-top: 65%;
  margin-bottom: 5%;
} */
