.sign-in-divider {
  border-bottom: 1px solid #979797;
  width: 87%;
  height: 13px;
  border-top: unset;
  border-right: unset;
  border-left: unset;
  background: unset;
  opacity: 0.2;
  margin-top: 7%;
  margin-bottom: 7%;
  /* position: absolute; */
  /* right: 50%; */
  top: 35%;
}
.sign-form-btn{
  width: 70% !important;
}

.google-btn{
  width: 50rem !important ;
}