.account-dropdown a {
  font-size: 1.3rem;
  margin-left: 2%;
  color: black;
  /* vertical-align: middle; */
}
.account-dropdown svg {
  margin-top: 2%;
  color: black;
}
.account-dropdown div {
  padding-left: 5%;
  height: 6vh;
}
.account-dropdown div:hover {
  background-color: rgb(224, 224, 224);
}
.account-dropdown div:hover svg {
  fill: black;
  color: rgb(230, 230, 230);
}
.account-dropdown a:hover {
  color: rgb(255, 106, 106);
}
