.items-count {
  font-size: 1.5rem;
  font-weight: bold;
}
.titles-header {
  margin-top: 1%;
  display: flex;
  width: 100%;
  background-color: rgb(226, 226, 226);
  justify-content: space-between;
  padding: 1%;
}
.checkout-component {
  margin-top: 2%;
}
