.cart-item {
  /* position: relative; */
  padding-left: 5%;
  padding-top: 2%;
  width: 100%;
  height: 22vh !important;
}
.cart-item:hover {
  background-color: rgb(231, 231, 231);
  cursor: pointer;
}

.remove-icon {
  margin-left: 50%;
  position: absolute;
  color: black;
}
.remove-icon:hover {
  color: rgb(255, 112, 112);
}
.cart-item {
  display: flex;
}
.cart-item img {
  background-color: rgb(209, 209, 209);
  object-fit: fill;
  margin-right: 3%;
  width: 23%;
  height: 20vh !important;
}
