.banner-component {
  max-height: 70vh;
  width: 96% !important;
  margin-left: 2%;
}

.each-slide-in-banner-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.each-slide-in-banner {
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .each-slide-in-banner-img {
    height: 40vh;
  }
}
@media only screen and (max-width: 500px) {
  .each-slide-in-banner-img {
    height: 30vh;
  }
}
